ToolBar * {
    -fx-text-fill: white;
}

#painel {
    -fx-background-color: #a83030;
}

.botao {
    -fx-background-color: transparent;
}

.botao:hover {
    -fx-background-color: grey;
}

VBox {
    -fx-background-color: #a83030;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
}


VBox.grande {
    -fx-background-radius: 0;
    -fx-padding-top: 5px;
}