html {
    font-size: min(2vw, 18px);
}

header {
    background-color: #a83030;
}

.quadriculado {
    height: 50px;
    width: 100%;

    background-image: url('../../../IMAGES/hexagono.png'), linear-gradient(0deg, #a83030 35%, rgba(0, 0, 0, 0.25), rgb(0, 0, 0), rgba(0, 0, 0, 0.25), #a83030 65%);
    background-repeat: repeat, repeat;
    background-size: 35px, 400% 400%;

    animation: anim 3s linear infinite;

    --cor: #a83030;
}

@keyframes anim {
    0% {
        background-position: 0% 0%, 0% 0%;
    }

    100% {
        background-position: 0% 0%, 0% +100%;
    }
}

#navegador {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

#navegador button {
    background-color: transparent;
    border: none;
    text-align: center;
    border-radius: 1vw;
}

#navegador button:hover {
    background-color: rgba(43, 255, 0, 0.63);
    /* , greenyellow; */
}

.navbar-toggler {
    height: 2vw;
    width: 2vw;
}

.off-canvas-alzira {
    background-color: #a83030;
}

#container {
    width: 100vw;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.divisor-produto {
    flex-grow: 1;
    width: 33%;

    
    margin: 1vw;
    padding: 0.5vw;

    border: black solid 0.1vw;
    border-radius: 2vw;
}

.divisor-produto p {
    margin: 0;
    display: inline-block;
}

.produto-titulo {
    display: block;
    width: 100%;
    
    text-align: center;
    font-weight: bold;
}

.produto-preco {
    display: block;
}

.barra-controle {
    display: flex;
    justify-content: space-around;
}

.barra-controle button:not(.botao) {
    --tamanho: max(5vw, 16px);
    width: var(--tamanho);
    height: var(--tamanho);
    font-size: 2vw;
    font-weight: bold;

    text-align: center;
}

#filtro {
    width: 100%;
    text-align: center;
}

.invisivel {
  display: none;
}