html {
    min-height: 100%;
    background-image:  url('../../../IMAGES/hexagono.png'), linear-gradient(-45deg, #a83030 49%, black 1%, #a83030 51%);
    background-repeat: repeat, repeat;
    background-size: 50px, 400% 400%;
    
    animation: anim 5s linear infinite;

    --cor: #a83030;
    --fonte: 2vw;
}

@keyframes anim {
    0% {
        background-position: 0% 0%, 0% 0%;
    }
    100% {
        background-position: 0% 0%, -100% 0;
    }
}

body {
    color: white;
}


.box {
    height: 70vh;
    width: 40vw;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: wheat;
    border: black solid 5px;
    border-radius: 1vw;
}

.box input {
    width: 80%;
}